.create-continer{
    display: flex;
    justify-content: start;
    align-items: start;
    height: 100%;
}

.center {
    max-width: calc(750px / 2);
    max-height: calc(1334px / 2);
    height: 100%;
    margin: 10px;
    flex-grow: 1;
    border: 1px solid #cccccc;
    position: relative;
}

.center .layout{
    width: 100%;
    height: 100% !important;
    overflow: hidden;
    overflow-y: auto;
}

.list-item {
    position: absolute;
    z-index: 9;
    border: 1px solid #cccccc;
    background-color: #ededed;
}

.list-item-close{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    padding-right: 3px;
    padding-top: 3px;
    width: 20px;
    height: 20px;
    text-align: center;
    z-index: 10;
}

.list-item button {
    width: 100%;
    height: 100%;
}

.droppable-element {
    width: 100px;
    height: 40px;
    border: 1px solid #dddddd;
}

.buttom-menus{
    width: 100%;
    height: 57px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: aqua;
}